<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>SCSV Inc.</title>
	<link rel="stylesheet" type="text/css" href="http://localhost/style.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Ubuntu'>	
	<link href='//fonts.googleapis.com/css?family=Lato:400,900,400italic,700italic' rel='stylesheet'>

	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Welcome to Semi Circular Straight Vortexes</h1>

		<p>Login or Register with:</p>

		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<br>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>  Signup</a>
		<br>
		<a href="/fbauth" class="btn btn-primary"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
	</div>

</div>
</body>
</html>